@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body,
h3,
p {
    margin: 0;
}

h3,
p {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button:enabled {
    cursor: pointer;
}

img {
    max-width: 100%;
}

body {
    font-weight: 'Pretendard-Regular', sans-serif;
}

.card {
    width: 288px;
    height: 374px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.card header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 12px 16px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
}

.content {
    padding: 10px 16px 20px 16px;
}

.fwb {
    font-family: 'Pretendard-Bold';
    color: #29363d;
}

.small {
    font-size: 12px;
    color: #5a6a72;
}

.ell1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ell2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
    height: calc(1em * 2 * 1.6);
}

.content .ell2 {
    margin-bottom: 16px;
}

.read {
    font-size: 14px;
    text-decoration: underline;
    width: 60px;
    padding: 3px 6px;
    /* ::after 기준  */
    position: relative;
}

.card {
    position: relative;
}

.btn-group {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    gap: 8px;
}

.btn-group button {
    border: 0;
    background: none;
    padding: 0;
}

.btn-group button img {
    width: 32px;
    vertical-align: top;
}