body,
h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #FFFAF0;
    position: relative;
}

header {
    aspect-ratio: 1440/120;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background: #FFF;
}

.logo1 {
    padding: 22px 0 23px 108px;
}

.join {
    padding: 40px 108px 40px 0;
    position: relative;
}

.join img {
    position: absolute;
    top: 27%;
    right: 100%
}

main {

    position: absolute;
    top: 100%;
    left: 30%;
}